table,
th,
td {
  border: 2px solid black;
}

table {
  height: 55mm;
  border-collapse: collapse;
}

body {
  margin: 5mm 0mm 0mm 0mm;
}

.align-middle {
  vertical-align: middle;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.font {
  font-family: Arial;
}

.fs75 {
  font-size: 75%;
}

.w150 {
  width: 150mm;
}
